.slides {
  position: relative;
  width:       100%;
  height:      100%;
  list-style:  none;
  padding:     0;
  margin:      0;
}

.slides .slide {
  position:    absolute;
  top:         0;
  left:        0;
  width:       100%;
  height:      100%;
  @include transform(translateX(0%));
  text-align:  center;
  @include vertical-centering-container;

  &.pager:before {
    content: none;


  }

  .content {
    @include vertical-centered-child;
  }

  &.-hidden {
    display: none;
  }
}

@mixin slide-transition {
  @include transition-property(transform, opacity);
  @include transition-duration(0.5s, 0.5s);
  @include transition-timing-function(ease-out, linear);
}

.slides .slide.-anim-fwd-enter {
  opacity:  0;
  @include transform(translateX(100%));
  @include slide-transition;
}

.slides .slide.-anim-fwd-enter.-anim-fwd-enter-active {
  opacity:  1;
  @include transform(translateX(0%));
}

.slides .slide.-anim-back-enter {
  opacity:  0;
  @include transform(translateX(-100%));
  @include slide-transition;
}

.slides .slide.-anim-back-enter.-anim-back-enter-active {
  opacity:  1;
  @include transform(translateX(0%));
}

.slides .slide.-anim-fwd-leave {
  opacity:  1;
  @include transform(translateX(0%));
  @include slide-transition;
}

.slides .slide.-anim-fwd-leave.-anim-fwd-leave-active {
  @include transform(translateX(-100%));
  opacity:      0;
}

.slides .slide.-anim-back-leave {
  opacity:  1;
  @include transform(translateX(0%));
  @include slide-transition;
}

.slides .slide.-anim-back-leave.-anim-back-leave-active {
  @include transform(translateX(100%));
  opacity: 0;
}
