.background-plate-2,
.background-plate {
  position:    absolute;
  top:         0;
  left:        0;
  width:       100%;
  height:      100%;
  text-align:  center;
  @include transition(background-color 1s ease-out);
}


.-on-slide-2 .background-plate { background: $color-green-mute; }
.-on-slide-3 .background-plate { background: $color-burn; }
.-on-slide-4 .background-plate { background: $color-light; }
.-on-slide-5 .background-plate { background: $color-light; }
.-on-slide-9 .background-plate { background: $color-burn; }
.-on-slide-10 .background-plate { background: $color-burn; }
.-on-slide-11 .background-plate { background: $color-burn; }
.-on-slide-18 .background-plate { background: $color-green-mute; }
.-on-slide-27 .background-plate { background: $color-green-mute; }
.-on-slide-28 .background-plate { background: $color-green-mute; }
.-on-slide-35 .background-plate { background: $color-green-mute; }
.-on-slide-36 .background-plate { background: $color-green-mute; }
.-on-slide-37 .background-plate { background: $color-green; }
.-on-slide-38 .background-plate { background: $color-green; }
.-on-slide-39 .background-plate { background: $color-burn; }
.-on-slide-39 .background-plate { background: $color-light; }
