.demo-hover {
  a {
    color: blue;
    @include transition(0.5s color linear);
  }

  a:hover, a:focus {
    color:  red;
  }
}



#demo-box {
  border:            5px solid black;
  display:           block;
  background-color:  white;
  margin:            0 auto;
  height:            2em;
  opacity:           1;
  @include transition(
    background-color 0.5s linear,
    border-width 0.5s linear,
    opacity 1s ease-in,
    height 1s ease-out
  );
}

#demo-box.-blue   { background:    blue; }
#demo-box.-tall   { height:        4em; }
#demo-box.-chunky { border-width:  20px; }
#demo-box.-faded  { opacity:       0.5;  }




.demo-accordion {
  text-align:  left;
  max-width:   600px;
  height:      20em;
  li {
    h4 {
      background:     $color-green-mute;
      margin-top:     0;
      margin-bottom:  0;
    }

    .accordion-content {
      overflow:  hidden;
    }
  }
}

#reset-page-stack {
  color: blue;
  @include rem(font-size, 1.75);
  position:     absolute;
  top:          12%;
  left:         50%;
  margin-left:  -30px;
  margin-top:   -22px;
  z-index:      52;
  cursor:       pointer;
  

}

.demo-accordion.-wrong .accordion-content {
  height:    0;
  @include transition(height 0.5s ease-out);
}

.demo-accordion.-wrong li.-active .accordion-content {
  height: auto;
}

.demo-accordion.-okay .accordion-content {
  max-height:    0;
  @include transition(max-height 0.5s ease-out);
}

.demo-accordion.-okay li.-active .accordion-content {
  max-height: 15em;
}

.demo-accordion.-measured .accordion-content {
  height:    0;
  @include transition(height 0.5s ease-out);
}

.demo-accordion.-measured li.-measure .accordion-content {
  height: auto;
}


@include keyframes(widthAnim) {
  0% { width: 5em; };
  100% { width: 10em; };
}



.demo-animation-hover a {
  display:     block;
  margin:      0 auto 1rem;
  background:  $color-green-mute;
  width:       5em;
}

.demo-animation-hover a.-one:hover {
  @include animation(widthAnim 0.5s ease-in);
}

.demo-animation-hover a.-two:hover {
  @include animation(widthAnim 1s ease-in forwards);
}

.demo-animation-hover a.-three:hover {
  @include animation( widthAnim 0.25s ease-in 0.75s forwards);
}

.demo-animation-hover a.-four:hover {
  @include animation(widthAnim 0.5s ease-in infinite);
}


.demo-spinner {
  display:  block;
  margin:   2rem auto;
  @include rem(width, 8);
  @include rem(height, 8);
}

.demo-spinner .block {
  display: inline-block;
  @include rem(width, 4);
  @include rem(height, 4);
  @include transition(all 0.3s linear);
  @include transform(rotate(0deg));
  float: left;

  &.green {
    background-color: $color-green-mute;
    @include transform-origin(bottom right);
  }

  &.blue {
    background-color: $color-dark;
    @include transform-origin(bottom left);
  }

  &.red {
    background-color: $color-burn;
    @include transform-origin(top right);
  }

  &.orange {
    background-color: $color-light;
    @include transform-origin(top left);
  }
}

@include keyframes(rotateSpinner) {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

.demo-spinner:hover .block {
  @include rem(border-radius, 2);
  @include animation(rotateSpinner 2s linear infinite);
}

#trigger-stagger-demo {
  color:   blue;
  cursor:  pointer;

}


#stagger-demo li.-hidden {
  opacity: 0;
}

#stagger-demo li.fade-enter {
  opacity: 0;
  @include transition(opacity 1s linear);
}

#stagger-demo li.fade-stagger-enter {
  @include transition-delay(0.1s);
}

#stagger-demo li.fade-enter-active {
  opacity: 1;
}

#stagger-demo li.fade-leave {
  opacity: 1;
  @include transition(opacity 1s linear);
}

#stagger-demo li.fade-stagger-leave {
  @include transition-delay(0.25s);
}

#stagger-demo li.fade-leave-active {
  opacity: 0;
}
