$transition-speed:  0.5s
#wrapper
  overflow:  hidden
  height:    100%


#page-stack
  +transition(padding-left $transition-speed ease-in)
  height:          100%
  padding-top:     0
  padding-bottom:  0
  white-space:     nowrap
  list-style:      none
  text-align:      left
  overflow:        visible
  margin:          0 auto
  width:           80%
  position:        relative
  z-index:         50
  &.-peek-all
    padding-left: 15em
  &.-remove-focus
    padding-left: 95%



#page-stack > li
  +transition(all $transition-speed ease-in)
  +inline-block
  width:           2.5em
  height:          auto
  vertical-align:  top
  position:        relative
  white-space:     normal
  left:            200%
  .sheet
    width: 30em

  $i: 1
  @while $i < 20
    &.-page-#{$i}
      top: 1.5em*$i
    $i: $i + 1
    
  a.close
    color:   blue
    cursor:  pointer

  &.-focussed
    width:  30em
    left:   0
    &.-hintPeekLeft
      margin-left: 0
    &.-hintPeekRight
      margin-right: 0
  &.-background
    left:   0
    &.hover
      +transform(translateX(-2em))
  &.-foreground
    left:   0
    &:hover
      +transform(translateX(-2em))


  &.-closing
    +transform(rotateZ(10deg) rotateY(-30deg))
    width:    0
    top:      -10em
    left:     200%

