/* ------------------------------------------------------------------------------------------------

	Sheet

------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------

	Perforated divider sections.

------------------------------------------------------------------------------------------------ */

$divider-height: 8px;

.curve-top,
.curve-bottom {
  position: relative;
  overflow: hidden;
}


.curve-bottom {
  $colour: #fff;
  
  span {
    display: block;
    background: $colour;
    height: $divider-height/2;
    margin: 0 $divider-height/2;
  }
  
  &:before, &:after {
    content: "";
    width: $divider-height;
    height: $divider-height;
    border-radius: 100%;
    border: $divider-height/2 solid $colour;
    -webkit-transform: rotate( -45deg );
    
    position: absolute;
    top: -$divider-height/2;
  }
  &:before{
    left: -$divider-height;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  &:after {
    right: -$divider-height;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent; 
  }
}


.dash {
  height: 0;
//  border-top: 1px dashed rgba( black, 0.3 );
//  border-bottom: 1px dashed rgba( white, 0.3 );
  border-top: 2px dotted white;
  margin: 0 $divider-height/2;
  position: relative;
}


.curve-top {
  $colour: #fff;
  
  span {
    display: block;
    background: $colour;
    height: $divider-height/2;
    margin: 0 $divider-height/2;
  }
  
  &:before, &:after {
    content: "";
    width: $divider-height;
    height: $divider-height;
    border-radius: 100%;
    border: $divider-height/2 solid $colour;
    -webkit-transform: rotate( -45deg );
    
    position: absolute;
    top: -$divider-height;
  }
  &:before{
    left: -$divider-height;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
  }
  &:after {
    right: -$divider-height;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important; 
  }
}











/* ------------------------------------------------------------------------------------------------

	Sheet

------------------------------------------------------------------------------------------------ */


.sheet__section {
	background: #fff;
	
	@if ( $debug == true ){
		background: rgba(white, 0.2);	
	}

  padding: 2rem;
	
	position: relative;
//	z-index: 1;
}



// Alternate Shadow Method. 
// Designed to work better with sheet sections and the dividers tha go between them.

.sheet {
	position: relative;
	background: #fff;
	
	&:before {
	  content: "";
  	position: absolute;
//  	z-index: 0;
  	left:        0; top: 0;
  	width:       100%;
  	height:      100%;
  	box-shadow:  0 1px 24px black;
  	background:  rgba( black, 0.5 );
    opacity:     0.2;
	}
}



// Layout / Styles

.sheet {
	$header-colour: black;
//	@include box-shadow( 0 1px 3px rgba(black, 0.2), 0 1px 24px rgba(black, 0.2) ); // Removed while trialling ALternate Shadow Method

		
	._header {
		@include group; // contain margins, clear floats
		position: relative;
		background: #eee;
		@include rem( padding, 0 $margin );
		color: $header-colour;
	}

	
		._header-icon {
			font-size: 0.75em;
			vertical-align: top;
			@include rem( margin-right, $line-height );
			@include transition( margin-left 0.3s );
		}
		
		._close {
			// @todo Focus/hover states. Consider replacing for icon-font to keep CSS weight down. 
			
			// <button> overides:
			border: none;
			outline: none;
			background: none;
			//
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			@include rem( width, $margin );
			@include rem( height, $margin );
			//background: white; // Layout
			
			&:before, &:after {
				content: "";
				background: $header-colour;
				position: absolute;
				@include rem( width, 15 );
				@include rem( height, 3 );
				@include rem( margin, 6 0 );
				@include rem( top, 12 );
				@include rem( left, 12 );
			}
			&:before {
				@include transform( rotate(45deg) );
			}
			&:after {
				@include transform( rotate(-45deg) );
			}
		}
	
	
	._main {
		@include group; // contain margins, clear floats
		@include rem( padding, 0 $margin );
	}
	
	._divider {
		border-top: 1px solid #E5E5E5;
		@include rem( margin-top, $margin +-1 ); // Zero height.
		@include rem( margin-bottom, $line-height );			
	}
		
	._title {
	}


	
	._log {
		@include rem( margin-top, $line-height );
		@include rem( margin-bottom, $line-height );
	}
	
	
	._actions {
		@include rem( margin-top, $margin );
		@include rem( margin-bottom, $margin );	
		@include group; // clear floats
	}
		
}











/* ------------------------------------------------------------------------------------------------

	Multiples / Group

------------------------------------------------------------------------------------------------ */

.sheet.-multiples {
	
	._actions {
		@include rem( margin-top, $line-height );
		@include rem( margin-bottom, $line-height );
	}
	
}

	.multiples {
		@include rem( margin-bottom, 3 * $margin );
		label {
			@include rem( line-height, $line-height );
			@include rem( padding, $line-height/2 $line-height/2 ($line-height+-2)/2 $line-height/2 );
			display: block;
			
			.btn {
				@include rem( margin-top, -4 );
				@include rem( margin-bottom, -3 );
			}
		}
		input.chbx {
			margin-right: 0.75em;
		}
		
	}	

	.multiples__header {
		color: #999;
		.chbx {
			color: #999;
		}
		
	}
	
	
	.multiples__list {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		list-style: none;
		padding-left: 0;
		margin: 0;
		
		label {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			margin: -1px 0;
		}
    .chbx.-hidden {
      opacity: 0;
    }

	}
	

/* ------------------------------------------------------------------------------------------------

    Information Text
    

------------------------------------------------------------------------------------------------ */

.sheet ._information {
  color: #999;
  .icon-info {
    float:     left;
    position:  relative;
    top:       0.2rem;
    color:     #F84100;
  }
  p {
    margin-left: 1.35rem;
  }
}




/* ------------------------------------------------------------------------------------------------

    Planned Maintenance Deferal Form
    

------------------------------------------------------------------------------------------------ */

.sheet__section.-defer-pm {
  ._scheduling {
    margin-top: 2.5rem;
  }
  ._scheduling ._label {
    display:       inline-block;
    margin-right:  1rem;
  }
  .selectr-wrap {
    margin-right:  1.5rem;
  }
  ._scheduling .reading {
    width: auto;
  }
  ._scheduling .defer-strategy, 
  ._scheduling .defer-target {
    display:         inline-block;
    vertical-align:  top;
  }
  ._scheduling .defer-target {
    margin-top: 0.6rem;
    ._label.-unit {
      margin-top:  0.25rem;
      display:     block;
    }
  }

  ._information {
    margin-bottom: 3rem;
    p {
      margin-top: 1rem;
    }
  }



  ._defer-preview {
    ul.timeline {
      $pin-count:     8;
      list-style:     none;
      border-bottom:  1px solid #ccc;
      padding:        0 1rem;
      height:         1.3rem;
      margin-bottom:  0;
      position:       relative;
      li {
        @include transition(left 0.5s ease-in, opacity 0.5s ease-in);
        font-size:               1.25rem;
        display:                 inline-block;
        color:                   #cdcdcd;
        position:                absolute;
        &.-current-due { color:  #cae4fb; }
        &.-new-due { color:      #0684f5; }
      }
      li.arrow {
        @include transition(width 0.5s ease-in);
        left: 3%;
      }
      li.arrow img {
        @include transition(width 0.5s ease-in);
        position:  absolute;
        bottom:    0rem;
        width:     100%;
        height:    1rem;
      }

      &.defer {
        li.-current-due { left: 1%; }
        li.arrow { width: 12%; }
        li.-new-due { left: 14%; }
        $i: 4;
        @while ($i < $pin-count + 1) {
          li:nth-child(#{ $i }) {left: ($i - 3)*(100%/($pin-count - 2.8))};
          $i: $i + 1;
        }
      }
      &.reschedule {
        li.-current-due { left: 1%; }
        li.arrow { width: 17%; }
        $i: 3;
        @while ($i < $pin-count + 1) {
          li:nth-child(#{ $i }) {left: ($i - 2)*(100%/($pin-count - 2.80))};
          $i: $i + 1;
        }
        li:last-child {opacity: 0};
      }
    }
  }
}




/* ------------------------------------------------------------------------------------------------

	"is behind"
	
	Modifier class for when there's a sheet on top of this one. 
	For the moment, I'm just moving the sheet's action into the lhs margin so it's visible.  

------------------------------------------------------------------------------------------------ */

.sheet.-is-behind {
	._header-icon {
		font-size: 0.5em;
		@include rem( margin-left, $margin*-0.75 );
	}
}









/* ------------------------------------------------------------------------------------------------

	Colour styles for different actions

------------------------------------------------------------------------------------------------ */

// Service
.sheet.-service {
	._header {
		background-color: #002CDD;
		color: #fff;
	}
	._close {
		&:before, &:after {
			background: #fff;
		}
	}
}


// Expired
.sheet.-expired {
	._header {
		background-color: #47D3D5;
		color: #111;
	}
	._close {
		&:before, &:after {
			background: #111;
		}
	}
}


//	Unique Planned Maintenance
.sheet.-unique-planned-maintenance {
	._header {
		background-color: #35CAFC;
		color: #111;
	}
	._close {
		&:before, &:after {
			background: #111;
		}
	}
}



/* ------------------------------------------------------------------------------------------------

	Colour styles for footer add-ons 

------------------------------------------------------------------------------------------------ */

.sheet__section.-corrective-maintenance {
  background-color: #FEFBDF;
}
.curve-top.-corrective-maintenance {
  span {
    background-color: #FEFBDF;
  }
  &:before, &:after {
    border-color: #FEFBDF;
  }
}



