/* ------------------------------------------------------------------------------------------------

	Typography
	
	// http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-4

------------------------------------------------------------------------------------------------ */

$font-size: 14 !default;
$line-height: 20 !default;
$margin: 40 !default;

$font-colour: #666 !default;

$debug: 	  true !default;


@if $debug == true {
	html {
		// Background for typgraphic baseline:
		$stripe-colour: rgba(red, 0.1);
		background-image: -webkit-linear-gradient( $stripe-colour 0px, $stripe-colour 1px, transparent 1px);
		background-size: 100% $line-height+px;
		background-position: 0px 0px;
	}	
	body {
		// Background for document baseline:
		$stripe-colour: hsl(190, 100%, 80%);
		background-image: -webkit-linear-gradient( $stripe-colour 0px, $stripe-colour 1px, transparent 1px);
		background-size: 100% $line-height+px;
		background-position: 0px -6px;
	}
}

@mixin body-font {
	font-family: 'Questrial', sans-serif;
	color: $font-colour;
	font-weight: normal;
	@include rem( font-size, $font-size );
	@include rem( line-height, $line-height );
}

.small {
	font-size: 75%;
	line-height: inherit;
	vertical-align: baseline;
	//
	color: #999;
}

body { 
	@include body-font;
}

h1,h2,h3,h4,h5,h6,
p,
ul,ol,dl, 
pre,
blockquote,
fieldset,
table,
hr {
	@include rem( margin, $line-height 0 );
}

// Zero headings initially
h1, h2, h3, h4, h5, h6 {
	@include body-font;
}

ul, ol {
	padding-left: 2em;
}


// @todo - Ensure heading sizes and margins are based on baseline grid 

@mixin heading-primary {
//	font-family: 'Questrial', sans-serif;
	@include rem( margin, $margin 0 );
	@include rem( font-size, 32 );
	@include rem( line-height, $margin );
}


@mixin heading-secondary {
//	font-family: 'Questrial', sans-serif;
	@include rem( font-size, 18 );
	@include rem( line-height, $line-height );
	@include rem( margin-top, $margin );
	@include rem( margin-bottom, $line-height );
}


@mixin label {
	font-size: 11px;
	margin-bottom: 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(black, 0.5); // !!! Hack to make the weight a fraction heavier on retina macbooks.
}






.heading-primary {
	@include heading-primary;
}

.h-sec {
  @include heading-secondary;
}

.h-label {
  @include label;
}






h1, .h1 {}



h2, .h2 {
	// @include rem( margin-top, 60 );
	// @include rem( margin-bottom, 33 );
	// line-height: 31px;
	// font-weight: normal;
	// @include rem( font-size, 24 );
}

// h3, .h4 {
// 	margin-top: 3em;
// 	margin-bottom: 1em;
// 	font-size: 1.2em;
// }


/* ------------------------------------------------- */


/* ---------------------------------------------------
	Anchor Module
													*/

a {
	color: blue;
	text-decoration: none;
	@include inline-transitions;
	outline: none;

	&:hover {
		color: darken( blue, 10% );
		text-decoration: none;
	}
}





/* ---------------------------------------------------
	Selection
													*/


// ::selection {
// 	background: blue; 
// 	color: #fff;
// }

