@mixin hover-focus($attr, $var) {
  &:hover, &:focus {
    #{ $attr }: $var;
  }
}

@mixin color-states($inactive-color, $hoverfocus-color) {
  color: $inactive-color;
  @include hover-focus(color, $hoverfocus-color);

}
