@mixin ratio( $ratio: 9/16 ) {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  padding-bottom: $ratio * 100%; // default 16:9
}

@mixin ratio-child( $force-height: false ) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @if $force-height == true {
    height: 100%; // smush to fit
  } @else {
    height: auto; // crops bottom
  }
}


