/* ------------------------------------------------------------------------------------------------

	Toolkit*
	=======

	* Completly not finished. 
	
	by Dominic Whittle / weekends.ws

	
	Toolkit aims to be an accompaniment to (and relies upon) mixins.scss. It's also ties with 
	typography.scss
	
	 I'm not sure exactly how things will end up fitting together. Because really, Toolkit is 
	 an approach. A starter. So who knows...
	
	Where mixins tends to deal with vendor prefixes, Toolkit aims to support it with design 
	patterns: free-form grid patterns, ratio patterns, group (clearfix) and other collections 
	of styles that act more like funtional presets. 
	
	

------------------------------------------------------------------------------------------------ */




/* ------------------------------------------------------------------------------------------------

	Ratio

------------------------------------------------------------------------------------------------ */

@mixin ratio {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 9/16*100%; // default 16:9
}

@mixin ratio-child {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto; // crops bottom
}

//.ratio {
//	@include ratio;
//}
//.ratio__child {
//	@include ratio-child;
//}




/* ------------------------------------------------------------------------------------------------

	Group
	=====

	Primarily used as a class on a parent element so that floated children are cleared.
	Also usefull in containing margins. 

------------------------------------------------------------------------------------------------ */

@mixin group {
	&:before,
	&:after {
	    content: "";
	    display: table;
	} 
	&:after {
	    clear: both;
	}
    zoom: 1; // For IE 6/7 (trigger hasLayout)	
}

/*
.group {
	@include group;
}
*/



/* ------------------------------------------------------------------------------------------------

	Inline Block

------------------------------------------------------------------------------------------------ */

@mixin ib-parent {
	font-size: 0;
	line-height: 0;
}

@mixin ib {
	@include box-sizing( border-box );
	display: inline-block;
	*display: inline; zoom: 1;
	// Old Firefox support requires additional -moz-stack or similar. 
	vertical-align: top;
}
/*

%ib-parent {
	@include ib-parent;
}
%ib-block {
	@include ib-block;
}
*/




