//  Debug View for Typesetting
//
//
//
//
//


$font-size: 14 !default;
$line-height: 20 !default;
$margin: 40 !default;

$font-colour: #666 !default;

$debug:     true !default;


@if $debug == true {
  html {
    // Background for typgraphic baseline:
    $stripe-colour: rgba(red, 0.1);
    background-image: -webkit-linear-gradient(
      $stripe-colour 0px, $stripe-colour 1px, transparent 1px
    );
    background-size: 100% $base-line-height;
    background-position: 0px 0px;
  }

  body {
    // Background for document baseline:
    $stripe-colour: hsl(190, 100%, 80%);
    background-image: -webkit-linear-gradient(
      $stripe-colour 0px, $stripe-colour 1px, transparent 1px
    );
    background-size: 100% $base-line-height;
    background-position: 0px -6px;
  }
}
