@mixin vertical-centering-container() {
  &:before {
    //
    content:         '';
    display:         inline-block;
    height:          100%;
    vertical-align:  middle;
    margin-right:    -0.25em;
    opacity:         0;
  }
}

@mixin vertical-centered-child() {
  &:first-child {
    margin-left:     0em;
  }
  display:         inline-block;
  vertical-align:  middle;
}

@mixin justify-last-line() {
  text-align:  justify;
  &:after {
    content:   "";
    display:   inline-block;
    width:     100%;
  }
}

@mixin screen-reader-text {
  height:       1px !important;
  width:        1px !important;
  text-indent:  -999999px;
}
