@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);


$debug: false;


$font-headline: 'Source Sans Pro', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;

$base-font-size: 16px;
$base-font-size-num: 16;
$base-line-height: 16px * 1.35;
$base-line-height-num: 1.35;


$color-ink: #111;

$color-dark: #443C45;
$color-green: #647D72;
$color-green-mute: #A1B398;
$color-light: #FFE8C6;
$color-burn: #FF7E4B;
