doctype html
<html lang="en">
head
  link(rel='stylesheet', href='styles/main.css')
  // script(type='text/javascript', src='libs/modernizr.js')
  // script(type='text/javascript', src='libs/react-with-addons.js')
  // script(type='text/javascript', src='libs/head.min.js')
  // script(type='text/javascript', src='libs/johodb.js')
  // script(type='text/javascript', src='libs/jquery-1.10.2.min.js')
  // // script(type='text/javascript', src='libs/mootools-core-1.4.5-full-nocompat.js')
  // script(type='text/javascript', src='libs/moment.min.js')
  // script(type='text/javascript', src='libs/q.min.js')
  // script(type='text/javascript', src='libs/sha1.js')
  // script(type='text/javascript', src='libs/jade-runtime.js')
  // script(type='text/javascript', src='views/views.js')
  | <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&lang=js&skin=doxy"></script>
  script(type='text/javascript', src='scripts/main.js')
body
  .background-plate
  .background-plate-2
  a#next-slide
  a#prev-slide
  ul.slides
    li.slide
      .content
        img.wd42(src="./images/wd42logo.png")

    li.slide
      .content
        h1 Animate Like It's 2014
        h2.subtitle with better CSS and Javascript

    li.slide
      .content
        h2 The State of the Web
        img.webtrends(src="/images/webtrends.png")
        br
        a(href="http://www.w3counter.com/trends") http://www.w3counter.com/trends

    li.slide
      .content
        h2 The State of Internet Explorer
        ul
          li Windows XP support is ending April 8, 2014
          li Internet Explorer 9 on any OS higher
          li: br
          li Windows Vista no longer under mainstream support
          li Extended support ends on April 11, 2017
          li Internet Explorer 10 on any OS higher
          li: strong Maximum support for standards starts here.

    li.slide
      .content
        h2 How precious are your animations?
        h3 Progressive Enhancement?
        h3 Mission Critical?

    li.slide
      .content
        h2 JQuery?
        h3 What's it for these days?

        ul
          li DOM Manipulation? &mdash; <a href="http://youmightnotneedjquery.com">Only for legacy support</a>
          li Utility Functions? &mdash; <a href="http://kangax.github.io/es5-compat-table/">ECMAScript 5 Compatibility</a>
          li Animation? &mdash; <a href="http://caniuse.com/#search=transition">CSS Transition/Animation Support</a>



    li.slide
      .content
        h2 Declarative Animation with CSS
        ul
          li Effective and simple
          li Renders more efficiently
          li Easier to maintain
          li Separates presentation

    li.slide
      .content
        h2 So what's the Javascript for?
        ul
          li State Management
          li Coordination of Timing
          li Responding to Users

    li.slide
      .content
        h2 CSS/JS Animation Tools
        ul
          li CSS transition property &ndash; <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition">mdn</a> &ndash; <a href="http://caniuse.com/#feat=css-transitions">caniuse.com</a>
          li CSS animation property &ndash; <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation">mdn</a> &ndash; <a href="http://caniuse.com/#feat=css-animation">caniuse.com</a>
          li window.requestAnimationFrame &ndash; <a href="https://developer.mozilla.org/en-US/docs/Web/API/window.requestAnimationFrame">mdn</a> &ndash; <a href="http://caniuse.com/#feat=requestanimationframe">caniuse.com</a>
          li Event transitionend
          li Event animationend
          li: br
          li Spec is largely settling down, but vendor prefixes are still required.

    li.slide
      .content
        h2 Basic Transitions

    li.slide
      .content
        h3 You've all done these, right?
        pre.prettyprint.lang-css
          code
            :escape
              a {
                color: blue;
                -webkit-transition: 0.5s color linear;
                -moz-transition: 0.5s color linear;
                transition: 0.5s color linear;
              }

              a:hover, a:focus {
                color: red;
              }
        .demo-hover
          a(href="#!") Look at this link shine!


    li.slide
      .content
        h3 Combine States with Transition
        pre.prettyprint.lang-css
          code
            :escape
              #demo-box {
                border:     1px solid black;
                display:    block;
                background: white;
                margin:     0 auto;
                height:     2em;
                opacity:    1;
                transition: background-color 0.5s linear,
                            border-width 0.5s linear,
                            opacity 1s ease-in,
                            height 1s ease-out;
              }

              #demo-box.-blue   { background:    blue; }
              #demo-box.-tall   { height:        10em; }
              #demo-box.-chunky { border-width:  20px; }
              #demo-box.-faded  { opacity:       0.5;  }
        #demo-box

    li.slide.pager
      h3 Spanner Page Stack
      a#reset-page-stack reset
      #wrapper
        ul#page-stack
          li.animated-page.-page-1.-foreground
            .sheet: .sheet__section
              h1 Page 1 <a class="close">dismiss</a>
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li.animated-page.-page-2.-foreground
            .sheet: .sheet__section
              h1 Page 2 <a class="close">dismiss</a>
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li.animated-page.-page-3.-foreground
            .sheet: .sheet__section
              h1 Page 3 <a class="close">dismiss</a>
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li.animated-page.-page-4.-foreground
            .sheet: .sheet__section
              h1 Page 4 <a class="close">dismiss</a>
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

    li.slide
      .content
        h3 Complicated? Doesn't actually need that much.
        pre.prettyprint.lang-css
          code
            :escape
              #page-stack {
                transition:      padding-left 0.5s ease-in;
                height:          100%;
                padding-top:     0;
                padding-bottom:  0;
                white-space:     nowrap;
                list-style:      none;
                text-align:      left;
                overflow:        visible;
                margin:          0 auto;
                width:           80%;
                position:        relative;
                z-index:         50;
              }
        h3 The stack container.


    li.slide
      .content
        h3 Each list item in the stack.
        pre.prettyprint.lang-css
          code
            :escape
              #page-stack > li {
                transition:      all 0.5s ease-in;
                display:         inline-block;
                width:           2.5em;
                height:          auto;
                vertical-align:  top;
                position:        relative;
                white-space:     normal;
                left:            200%;
              }

              #page-stack > li .sheet {
                width: 30em;
              }

    li.slide
      .content
        h3 And some modifiers.
        pre.prettyprint.lang-css
          code
            :escape
              #page-stack > li a.close {
                color:   blue;
                cursor:  pointer;
              }

              #page-stack > li.-focussed {
                width:  30em;
                left:   0;
              }

              #page-stack > li.-foreground {
                left:   0;
              }

              #page-stack > li.-foreground:hover {
                transform: translateX(-2em);
              }

              #page-stack > li.-closing {
                transform: rotateZ(10deg) rotateY(-30deg);
                width:    0
                top:      -10em
                left:     200%
              }

    li.slide
      .content
        h3 The rest is Javascript
        pre.prettyprint.lang-js
          code
            :escape
              pageStack.addEventListener('click', function(event) {
                var elem = event.target;
                while (elem != pageStack && !elem.classList.contains('animated-page')) {
                  elem = elem.parentNode;
                };
                if (elem != pageStack) {
                  forEachNode(pageStack.querySelectorAll('.animated-page'), function(el) {
                    el.classList.remove('-focussed'); el.classList.add('-foreground');
                  });
                  elem.classList.add('-focussed'); elem.classList.remove('-foreground');
                }
              });

              pageStack.addEventListener('click', function(event) {
                var elem = event.target;
                while (elem != pageStack && !elem.classList.contains('close')) {
                  elem = elem.parentNode;
                };

                if (elem.classList.contains('close')) {
                  while (!elem.classList.contains('animated-page')) {
                    elem = elem.parentNode;
                  };
                  elem.classList.add('-closing');
                }
              });

    li.slide
      .content
        h3 Or in jQuery, if that's your thing.
        pre.prettyprint.lang-js
          code
            :escape
              var pages = $(pageStack).children('.animated-page');

              $(pageStack).delegate('.animated-page', 'click', function() {
                pages.removeClass('-focussed').addClass('-foreground');
                $(this).addClass('-focussed').removeClass('-foreground');
              });

              $(pageStack).delegate('.close', 'click', function() {
                $(this).parents('.animated-page').addClass('-closing');
              });
        h3 Okay, maybe DOM libraries are still pretty nice. :)

    li.slide
      .content
        h2 Measured Transitions

    li.slide
      .content
        h3 Accordion
        ul.demo-accordion.-wrong
          li.-active
            h4 Header 1
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li
            h4 Header 2
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li
            h4 Header 3
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


    li.slide
      .content
        h3 Oh wait.
        pre.prettyprint.lang-css
          code
            :escape
              .demo-accordion.-wrong .accordion-content {
                height:      0;
                transition:  height 0.5s ease-out;
              }

              .demo-accordion.-wrong li.-active .accordion-content {
                height: auto;
              }
        h3 Auto properties DO NOT transition.


    li.slide
      .content
        h3 Accordion Take 2
        ul.demo-accordion.-okay
          li.-active
            h4 Header 1
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li
            h4 Header 2
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li
            h4 Header 3
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


    li.slide
      .content
        h3 Max height works, but ONLY if they have similar sizes.
        pre.prettyprint.lang-css
          code
            :escape
              .demo-accordion.-okayish .accordion-content {
                max-height:  0;
                transition:  max-height 0.5s ease-out;
              }

              .demo-accordion.-okayish li.-active .accordion-content {
                max-height: auto;
              }


    li.slide
      .content
        h3 Accordion Take 3
        ul.demo-accordion.-measured
          li.-measure
            h4 Header 1
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li
            h4 Header 2
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          li
            h4 Header 3
            .accordion-content
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


    li.slide
      .content
        h3 The CSS is the same as take 1.
        pre.prettyprint.lang-css
          code
            :escape
              .demo-accordion.-measured .accordion-content {
                height:      0;
                transition:  height 0.5s ease-out;
              }

              .demo-accordion.-measured li.-measure .accordion-content {
                height: auto;
              }

    li.slide
      .content
        h3 But the javascript makes it actually work:
        pre.prettyprint.lang-js
          code
            :escape
              if (elem.tagName == 'H4') {
                while (elem.tagName != 'LI') {
                  elem = elem.parentNode;
                };
                forEachNode(sections, function(el) {
                  // el.classList.remove('-active');  not needed in measured approach
                  el.classList.remove('-measure');
                  if (measured) el.querySelector('.accordion-content').style.height = null;
                });
                // elem.classList.add('-active');  not needed in measured approach
                
                if (measured) {
                  var content = elem.querySelector('.accordion-content');
                  elem.classList.add('-measure');
                  var height = getComputedStyle(content)['height'];
                  elem.classList.remove('-measure');

                  jumpAnimationFrame(function() { // This is OH SO important!
                    content.style.height = height;
                  });
                }
              }

    li.slide
      .content
        h3 jumpAnimationFrame?
        pre.prettyprint.lang-js
          code
            :escape
              function jumpAnimationFrame(fn) {
                requestAnimationFrame(function() { // Frame 1
                  requestAnimationFrame(fn); // Frame 2
                });
              }
        dl
          dt Frame 1
          dd Render the 0 height element.
          dt Frame 2
          dd Apply the new styling (in the previous case, <em>height: &lt;x&gt;px</em> )
          dt Frame 3 and onwards.
          dd Progress through the transition.

    li.slide
      .content
        h2 What does requestAnimationFrame actually do?

    li.slide
      .content
        h2 Timing is EVERYTHING!
        h3 You want the next frame of animation so that&hellip;
        ul
          li your javascript executes less frequently when out of focus
          li you can synchronise your style changes with browser repaints
          li you can tightly control the frames which get drawn

    li.slide
      .content
        h2 Entry and Exit Animations

    li.slide
      .content
        h3 Lets talk about these slides. This one comes in.
        pre.prettyprint.lang-css
          code
            :escape

              .slides .slide.-hidden {
                display: none;
              }

              /* Setting the initial state */
              .slides .slide.-anim-fwd-enter {
                opacity:                     0;
                transform:                   translateX(100%);
                transition-property:         transform, opacity;
                transition-duration:         0.5s, 0.5s;
                transition-timing-function:  ease-out, linear;
              }

              /* Activating the transition */
              .slides .slide.-anim-fwd-enter.-anim-fwd-enter-active {
                opacity:    1;
                transform:  translateX(0%);
              }

    li.slide
      .content
        h3 The exiting slide is the same with reversed properties.
        pre.prettyprint.lang-css
          code
            :escape
              /* Setting the initial state */
              .slides .slide.-anim-fwd-leave {
                opacity:    1;
                transform:  translateX(0%);
                transition-property:         transform, opacity;
                transition-duration:         0.5s, 0.5s;
                transition-timing-function:  ease-out, linear;
              }

              /* Activating the transition */
              .slides .slide.-anim-fwd-leave.-anim-fwd-leave-active {
                opacity:                     0;
                transform:                   translateX(-100%);
              }

              .slides .slide.-hidden {
                display: none;
              }
    li.slide
      .content
        h3 First we add the initial state class, and then we jump a frame.
        pre.prettyprint.lang-js
          code
            :escape
              var timeTransition = function (slide, animName, animDir, onEnd) {
                var transitionTime;
                var transitionEndTime;
                var ticked = false;

                // Set the initial state.
                slide.classList.add(animName + '-' + animDir);

                var transitionTimer = function (timer) {
                  // next slide
                };

                jumpAnimationFrame(transitionTimer);
              };
        h3 This ensures that the start of the transition is in place.


    li.slide
      .content
        h3 Get the longest transition length for any callbacks.
        pre.prettyprint.lang-js
          code
            :escape
              var transitionTimer = function (timer) {
                transitionTime = getLongestTransition(slide); // Being DRY
                if (transitionTime === 0) { 
                  if (onEnd) onEnd(slide);  
                  slide.classList.remove(animName + '-' + animDir);
                  return;  // No transition so don't bother.
                };

                // Activate transition.
                slide.classList.add(animName + '-' + animDir + '-active');

                var transEnd = function(event) {
                  if (event.elapsedTime < transitionTime) return;
                  slide.classList.remove(animName + '-' + animDir + '-active');
                  slide.classList.remove(animName + '-' + animDir);
                  if (onEnd) onEnd(slide);
                  removePrefixedEventListener(
                    slide, 'TransitionEnd', transEnd
                  );
                };

                addPrefixedEventListener(slide, 'TransitionEnd', transEnd);
              };

    li.slide
      .content
        h3 Avoiding Magic Numbers
        pre.prettyprint.lang-js
          code
            :escape
              function getLongestTransition(elem) {
                return Math.max.apply(null,
                  getComputedStyle(elem)['transition-duration'].split(',')
                                                               .map(parseFloat)
                );
              }

              getComputedStyle(elem)['transition-duration'];

              "0.5s, 2.5s";

              ["0.5s", " 2.5s"];

              [0.5, 2.5];

              return Math.max(0.5, 2.5);

    li.slide
      .content
        h2 Transitions seem pretty good. What are animations for?

    li.slide
      .content
        h3 Transitions are&hellip;
        ul
          li General
          li Easy to combine
          li Fluidly applied
          li Compact

        h3 Animations are&hellip;
        ul
          li Specific
          li Difficult to combine
          li Rigidly applied
          li Verbose

    li.slide
      .content
        h3 Some basic animations
        pre.prettyprint.lang-css
          code
            :escape
              @keyframes widthAnim {
                0% { width: 5em; }
                100% { width: 10em; }
              }

              .demo-animation-hover a:hover {
                animation: widthAnim 0.5s ease-in;

                animation: widthAnim 1s ease-in forwards;

                animation: widthAnim 0.25s ease-in 0.75s forwards;

                animation: widthAnim 0.5s ease-in infinite;
              }

        .demo-animation-hover
          a.-one(href="#!") Hover me.
          a.-two(href="#!") Hover me.
          a.-three(href="#!") Hover me.
          a.-four(href="#!") Hover me.

    li.slide
      .content
        h3 Slightly more complex&hellip;
        pre.prettyprint.lang-css
          code
            :escape
              @keyframes rotateSpinner {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
              }

              .demo-spinner .block {
                transition: border-radius 0.3s linear;
              }

              .demo-spinner:hover .block {
                border-radius: 2rem;
                animation: rotateSpinner 2s linear infinite;
              }

        .demo-spinner
          .block.green
          .block.blue
          .block.red
          .block.orange

    li.slide
      .content
        h2 Primary Animation Drawbacks
        ul
          li They don't play nice with others.
          li They are difficult to open and close gracefully.
          li They can't be interrupted and then transitioned from.

    li.slide
      .content
        h3 One last demo&hellip;
        h2 Staggering Animations

    li.slide
      .content
        h3 Mexican wave, CSS style! &ndash; <a id="trigger-stagger-demo">run demo</a>
        ul#stagger-demo
          - for (var i = 0; i < 15; ++i) {
            li.-hidden= 'List Item ' + i
          - }
          
    li.slide
      .content
        h3 Avoiding Magic Numbers Part 2
        pre.prettyprint.lang-js
          code
            :escape
              function getLongestDelay(elem) {
                return Math.max.apply(null,
                  getComputedStyle(elem)['transition-delay'].split(',')
                                                            .map(parseFloat)
                );
              }

              getComputedStyle(elem)['transition-delay'];

              "0.5s, 2.5s";

              ["0.5s", " 2.5s"];

              [0.5, 2.5];

              return Math.max(0.5, 2.5);

    li.slide
      .content
        h3 Staggering Classes
        pre.prettyprint.lang-css
          code
            :escape
              #stagger-demo li.fade-enter {
                opacity: 0;
                transition: opacity 1s linear;
              }

              #stagger-demo li.fade-stagger-enter {
                transition-delay: 0.1s;
              }

              #stagger-demo li.fade-enter-active {
                opacity: 1;
              }

    li.slide
      .content
        h3 Calling the same function we use for our slides&hellip;
        pre.prettyprint.lang-js
          code
            :escape
              forEachNode(staggerLis, function(el, ix) {
                el.classList.remove('-hidden');
                timeTransition(el, 'fade', 'enter', function() {
                  timeTransition(el, 'fade', 'leave', function() {
                    el.classList.add('-hidden');
                  }, ix);
                }, ix);
              });



    li.slide
      .content
        h3 With some adjustments for staggering:
        pre.prettyprint.lang-js
          code
            :escape
              var timeTransition = function (elem, animName, animDir, onEnd, stagger) {
                // normal code path
                if (stagger) slide.classList.add(animName + '-stagger-' + animDir);

                var timeStagger = function (timer) { ... };
                // To be run when it's time to start the animation - next slide

                var transitionTimer = function (timer) {
                  // normal code path
                  if (stagger && !delayUntil) {
                    delayUntil = timer + (getLongestDelay(slide) * 1000)
                                       * (stagger - 1);
                  }

                  var transEnd = function(ev) { ... };
                    // standard transition end with cleanup for stagger class
                  addPrefixedEventListener(slide, 'TransitionEnd', transEnd);

                  if (delayUntil) {
                    setTimeout(timeStagger, delayUntil - timer);
                  } else { /* normal code path */ };
                };
              };

    li.slide
      .content
        h3 Picking up at the animation frame about when you'll need to fire the animation.
        pre.prettyprint.lang-js
          code
            :escape
              var timeStagger = function (timer) {
                if (!timer) {
                  requestAnimationFrame(timeStagger);
                  return;
                }
                if (timer > delayUntil) {
                  if (!slide.classList.contains(animName + '-' + animDir + '-active')) {
                    slide.classList.add(animName + '-' + animDir + '-active');
                  };
                } else {
                  requestAnimationFrame(timeStagger);
                }
              };
        h3 The setTimeout means we wait til the right moment to start syncing up with the animation.

    li.slide
      .content
        h2 Last Words

    li.slide
      .content
        h2 Javascript CSS Workflow
        ul
          li Good Javascript sets up, gets out of the way, and then tidies up.
          li The DOM should represent the state of the application.

    li.slide
      .content
        h2 Animation Efficiency
        ul
          li: strong GPU Compositing
          li transform: scale, translate, rotate
          li opacity
          li: br
          li: strong Browser Paint
          li color, border-style, visibility, background
          li box-shadow, background-size, outline
          li: br
          li: strong Browser Layout
          li width, height, padding, margin, border, top, position
          li font-size, line-height, vertical-align
        br
        a(href="http://www.html5rocks.com/en/tutorials/speed/high-performance-animations/") High Performance Animations by Paul Lewis and Paul Irish


    li.slide
      .content
        h2 This isn't just window dressing!
        h3 Have some timely A List Apart articles:
        ul
          li: a(href="http://alistapart.com/article/ui-animation-and-ux-a-not-so-secret-friendship") UI Animation and UX: A Not-So-Secret Friendship
          li: a(href="http://alistapart.com/article/web-animation-at-work") Web Animation at Work

</html>
