
html, body {
  width:     100%;
  height:    100%;
  overflow:  hidden;
}


body {
  margin:       0;
  padding:      0;
  @include rem(font-size, 2);
  @include rem(line-height, 2.75);
  
  color:        $color-ink;
  font-family:  $font-body;


}
