h1, h2, h3 {
  font-family: $font-headline;
}

h1 {
  @include rem(margin-top, 1.5);
  @include rem(font-size, 5);
  @include rem(line-height, 5);
  @include rem(margin-bottom, 1.5);
}

h2 {
  @include rem(margin-top, 1.5);
  @include rem(font-size, 4);
  @include rem(line-height, 4);
  @include rem(margin-bottom, 1.5);

  &.subtitle {
    @include rem(font-size, 3);
    @include rem(line-height, 3.5);
    @include rem(margin-top, -1);
  }
}
