ul {
  list-style:    none;
  @include rem(margin-top, 1);
  @include rem(margin-bottom, 1);
  
  margin-left:   0;
  padding-left:  0; 

  li {
    @include rem(margin-bottom, 0.5);
  }
}

dl {
  text-align: left;
}

dl dd {
  @include rem(margin-bottom, 1.25);

}
